<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Accessibility tools audit test - {{ title }} - A11y Intuition Lab</title>
  <script src="../assets/javascript/jquery-1.12.0.min.js"></script>
  <script src="../assets/javascript/main.js"></script>
  <link rel="stylesheet" href="../assets/stylesheets/tests.css" />
  <link rel="stylesheet" href="../assets/ail/tests-ail.css" />
  <script src="../assets/ail/tests-ail.js" defer></script>
{%- if head %}
  {{ head | trim | safe }}
{%- endif %}
</head>
<body>
  <h1>{{ title }}</h1>
  <main>
    {{ content | processExampleAil | safe }}
  </main>
</body>
</html>
